@{
    Layout = "_DashBoard";
}
@model Tour

<div class="container-fluid py-4">
    <form method="post" asp-action="EditTour">
        <div class="form-row d-flex gap-4">
            <div class="form-group col-md-6">
                <label asp-for="Name" for="tourName">Tour Name</label>
                <input asp-for="Name" value="@Model.Name" type="text" class="form-control" id="tourName" placeholder="Enter Tour Name" />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Distination" for="distination">Distination</label>
                <input asp-for="Distination" value="@Model.Distination" type="text" class="form-control" id="distination" placeholder="ex : Canada" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" for="discription">Description</label>
            <input asp-for="Description" value="@Model.Description" type="text" class="form-control" id="discription" />
        </div>
        <div class="form-row d-flex gap-4">
            <div class="form-group col">
                <label asp-for="StartDate" for="StartDate">Start Date</label>
                <input asp-for="StartDate" value="@Model.StartDate" type="date" class="form-control" id="StartDate" />
            </div>
            <div class="form-group col">
                <label asp-for="EndDate" for="EndDate">End Date</label>
                <input asp-for="EndDate" value="@Model.EndDate" type="date" class="form-control" id="EndDate" />
            </div>
        </div>
        <div class="form-row d-flex gap-4">
            <div class="form-group col">
                <label asp-for="AdultsTickets" for="price">Adults Tickets</label>
                <input asp-for="AdultsTickets" value="@Model.AdultsTickets"  type="number" class="form-control" id="AdultsTickets" />
            </div>
            <div class="form-group col">
                <label asp-for="ChildrenTickets" for="ChildrenTickets ">Children Tickets </label>
                <input asp-for="ChildrenTickets " value="@Model.ChildrenTickets" type="number" class="form-control" id="ChildrenTickets" />
            </div>
            <div class="form-group col">
                <label asp-for="InfantTickets" for="InfantTickets">Infant Tickets</label>
                <input asp-for="InfantTickets" value="@Model.InfantTickets" type="number" class="form-control" id="InfantTickets" />
            </div>
        </div>
        <div class="form-row d-flex gap-4">
            <div class="form-group col-md-6">
                <label asp-for="HotelName" for="HotelName">Hotel Name</label>
                <input asp-for="HotelName" value="@Model.HotelName" type="text" class="form-control" id="HotelName" />
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Meals" for="Meals">Meals Type</label>
                <select asp-for="Meals" id="Meals" class="form-control">
                    @{
                        if ( Model.Meals == "Choose..." ) {
                            <option selected value="Choose..">Choose...</option>
                            <option value="Self catering">Self catering</option>
                            <option value="Breakfast included">Breakfast included</option>
                            <option value="All meals included">All meals included</option>
                            <option value="All-inclusive">All-inclusive</option>
                            <option value="Breakfast & lunch included">Breakfast & lunch included</option>
                            <option value="Breakfast & dinner included">Breakfast & dinner included</option>
                        } else if ( Model.Meals == "Self catering" ) {
                            <option value="Choose..">Choose...</option>
                            <option selected value="Self catering">Self catering</option>
                            <option value="Breakfast included">Breakfast included</option>
                            <option value="All meals included">All meals included</option>
                            <option value="All-inclusive">All-inclusive</option>
                            <option value="Breakfast & lunch included">Breakfast & lunch included</option>
                            <option value="Breakfast & dinner included">Breakfast & dinner included</option>
                        } else if ( Model.Meals == "Breakfast included" ) {
                            <option value="Choose..">Choose...</option>
                            <option  value="Self catering">Self catering</option>
                            <option selected value="Breakfast included">Breakfast included</option>
                            <option value="All meals included">All meals included</option>
                            <option value="All-inclusive">All-inclusive</option>
                            <option value="Breakfast & lunch included">Breakfast & lunch included</option>
                            <option value="Breakfast & dinner included">Breakfast & dinner included</option>
                        } else if ( Model.Meals == "All meals included" ) {
                            <option value="Choose..">Choose...</option>
                            <option value="Self catering">Self catering</option>
                            <option  value="Breakfast included">Breakfast included</option>
                            <option selected value="All meals included">All meals included</option>
                            <option value="All-inclusive">All-inclusive</option>
                            <option value="Breakfast & lunch included">Breakfast & lunch included</option>
                            <option value="Breakfast & dinner included">Breakfast & dinner included</option>
                        } else if ( Model.Meals == "All-inclusive" ) {
                            <option value="Choose..">Choose...</option>
                            <option value="Self catering">Self catering</option>
                            <option value="Breakfast included">Breakfast included</option>
                            <option value="All meals included">All meals included</option>
                            <option selected value="All-inclusive">All-inclusive</option>
                            <option value="Breakfast & lunch included">Breakfast & lunch included</option>
                            <option value="Breakfast & dinner included">Breakfast & dinner included</option>
                        } else if ( Model.Meals == "Breakfast & lunch included" ) {
                            <option value="Choose..">Choose...</option>
                            <option value="Self catering">Self catering</option>
                            <option value="Breakfast included">Breakfast included</option>
                            <option value="All meals included">All meals included</option>
                            <option value="All-inclusive">All-inclusive</option>
                            <option selected value="Breakfast & lunch included">Breakfast & lunch included</option>
                            <option value="Breakfast & dinner included">Breakfast & dinner included</option>
                        } else if ( Model.Meals == "Breakfast & dinner included" ) {
                            <option value="Choose..">Choose...</option>
                            <option value="Self catering">Self catering</option>
                            <option value="Breakfast included">Breakfast included</option>
                            <option value="All meals included">All meals included</option>
                            <option value="All-inclusive">All-inclusive</option>
                            <option value="Breakfast & lunch included">Breakfast & lunch included</option>
                            <option selected value="Breakfast & dinner included">Breakfast & dinner included</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-row d-flex gap-4">
            <div class="form-group col">
                <label asp-for="Price" for="price">Price</label>
                <input asp-for="Price" value="@Model.Price" type="number" class="form-control" id="price" />
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input asp-for="GuideIncluded" value="@Model.GuideIncluded" class="form-check-input" type="checkbox" id="guideCheck" />
                <label asp-for="GuideIncluded" class="form-check-label" for="guideCheck"> Guide Included ? </label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="TransportationType.ID" for="Transportation">Transportation Type</label>
                <select asp-for="TransportationId" id="Transportation" class="form-control">
                    @{
                        if(Model.TransportationId == 6 ) {
                            <option >Choose...</option>
                            <option value="5">Bike</option>
                            <option selected value="6">Car</option>
                            <option value="7">Bus</option>
                            <option value="9">Plane</option>
                        } else if ( Model.TransportationId == 5 ) {
                            <option>Choose...</option>
                            <option selected value="5">Bike</option>
                            <option value="6">Car</option>
                            <option value="7">Bus</option>
                            <option value="9">Plane</option>
                        } else if ( Model.TransportationId == 7 ) {
                            <option >Choose...</option>
                            <option value="5">Bike</option>
                            <option value="6">Car</option>
                            <option selected value="7">Bus</option>
                            <option value="9">Plane</option>
                        } else if ( Model.TransportationId == 9 ) {
                            <option >Choose...</option>
                            <option value="5">Bike</option>
                            <option value="6">Car</option>
                            <option value="7">Bus</option>
                            <option selected value="9">Plane</option>
                        } else {
                            <option selected>Choose...</option>
                            <option value="5">Bike</option>
                            <option value="6">Car</option>
                            <option value="7">Bus</option>
                            <option value="9">Plane</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-row mt-5 custom-file">
            <input  type="file" class="custom-file-input" id="TourPic" />
            <label  class="custom-file-label" for="TourPic">Upload Tour Image</label>
        </div>

        <button type="submit" class="btn" style="background-color: #fa8b02; color: #fff; margin: 50px 0">Update Tour</button>
    </form>
</div>