@model TourFilterViewModel
@{
    Layout = "_Layout";
}

<div class="container packagesContainer mt-5">
    <div class="d-grid gap-5">
        <div class="filterBar rounded-top">
            <div class="d-flex flex-column flex-md-row innersearching rounded align-items-md-center p-3 gap-3">
                <form class="d-flex flex-column flex-md-row gap-2 mb-3 mb-md-0 w-100" asp-controller="Tour" asp-action="Filter">
                    <div class="form-group col-md">
                        <label for="destination">Destination</label>
                        <select id="destination" name="destination" class="form-control m-0">
                            <option selected>Destination</option>
                            <option value="India">India</option>
                            <option value="Turkey">Turkey</option>
                        </select>
                    </div>
                    <div class="form-group col-md">
                        <label for="startDate">Start Date</label>
                        <input type="date" id="startDate" name="startDate" class="form-control" />
                    </div>
                    <div class="form-group col-md">
                        <label for="endDate">End Date</label>
                        <input type="date" id="endDate" name="endDate" class="form-control" />
                    </div>
                    <div class="form-group col-md">
                        <label for="minPrice">Minimum Price</label>
                        <input type="number" id="minPrice" name="minPrice" class="form-control" />
                    </div>
                    <div class="form-group col-md">
                        <label for="maxPrice">Maximum Price</label>
                        <input type="number" id="maxPrice" name="maxPrice" class="form-control" />
                    </div>
                    <button type="submit" class="search-icon d-flex justify-content-center align-items-center rounded-3 ml-md-3 mt-3 mt-md-0" style="width: 60px; height: 60px;">
                        <i class="fa-solid fa-magnifying-glass" style="font-size: 20px; padding: 0px 10px;"></i>
                    </button>
                </form>
            </div>
        </div>

        <div class="d-flex flex-wrap gap-5" style="justify-content: center;">

            @foreach ( var tour in Model.tours ) {
                <div class="d-grid pBox">
                    <img src="@Url.Action("GetImage", "Home", new { id = tour.ID })" alt="Tour Image" style="max-width: 100%; height: auto;" />
                    <h4 class="text-black text-center mb-3">@tour.Name</h4>
                    <p class="text-black"><i class="fa-solid fa-hand-holding-dollar"></i> <span>$@tour.Price</span></p>
                    <p><i class="fa-solid fa-calendar"></i>Start Date : @tour.StartDate</p>
                    <p><i class="fa-solid fa-calendar"></i>End Date : @tour.EndDate</p>
                    <a asp-controller="Home" asp-action="TourDetails" asp-route-id="@tour.ID">Read More <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            }
        </div>
    </div>

    <ul class="pages d-flex gap-2 justify-content-center mt-5" style="list-style:none;">
        @{
            if ( Model.CurrentPage != 1 ) {
                <li><a asp-controller="Tour" asp-route-Page="@(Model.CurrentPage-1)">&lt;</a></li>
            } else {
                <li><a asp-controller="Tour" asp-route-Page="@Model.CurrentPage">&lt;</a></li>
            }
            for ( int i = 1; i <= Model.TotalNumberOfPages; i++ ) {
                if ( i == Model.CurrentPage ) {
                    <li class="active"><span>@i</span></li>
                } else {
                    <li><a asp-controller="Tour" asp-route-Page="@i">@i</a></li>
                }
            }
            if ( Model.CurrentPage != Model.TotalNumberOfPages ) {
                <li><a asp-controller="Tour" asp-route-Page="@(Model.CurrentPage+1)">&gt;</a></li>
            } else {
                <li><a asp-controller="Tour" asp-route-Page="@Model.CurrentPage">&gt;</a></li>
            }
        }
    </ul>

</div>


<footer id="footer" class="footerLayout d-grid mt-5 text-light p-5 pb-0">
    <div class="container logo">
        <img src="~/images/logo.png" alt="" srcset="" />
    </div>
    <div class="container footerCont justify-content-between border-bottom border-top pb-5 pt-5 mt-3 mb-3">
        <div class="services">
            <h5>Services</h5>
            <ul class="list-unstyled mt-4">
                <li>Bike and Rickshaw rental</li>
                <li>Guided Tours of Lucca</li>
                <li>Guided Bike Tour of Lucca</li>
                <li>Trip In The Tuscan Hills</li>
                <li>Transportation With Luxury Cars</li>
                <li>Wine Tours By Bus With Guide</li>
            </ul>
        </div>
        <div class="home">
            <h5>Home</h5>
            <ul class="list-unstyled mt-4">
                <li>Home</li>
                <li>About Us</li>
                <li>Tour Packages</li>
            </ul>
        </div>
        <div class="help">
            <h5>Help</h5>
            <ul class="list-unstyled mt-4">
                <li>Terms of use</li>
                <li>Provicy Policy</li>
            </ul>
        </div>
        <div class="contacts">
            <h5>Contacts</h5>
            <ul class="list-unstyled mt-4">
                <li class="d-flex gap-3">
                    <i class="fa-solid fa-location-dot"></i>
                    <p>Maadi, Cairo</p>
                </li>
                <li class="d-flex gap-3">
                    <i class="fa-solid fa-phone"></i>
                    <p>+205828555454</p>
                </li>
                <li class="d-flex gap-3">
                    <i class="fa-solid fa-envelope"></i>
                    <p>example@gmail.com</p>
                </li>
            </ul>
        </div>
        <div class="socialMedia">
            <h5>Social Media</h5>
            <ul class="list-unstyled d-flex mt-4 gap-4 justify-content-center">
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-twitter"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
            </ul>
        </div>
    </div>
    <div class="container m-0">
        <p class="text-center">Copyright © 2022. All rights reserved.</p>
    </div>
</footer>
