@model IEnumerable<UserReservationDetails>
@{
    Layout = "_Layout";
}
<style>
    .custom-card {
        width: 70%;
        margin: 0 auto; /* Center the card horizontally */
    }
</style>
<div class="container-fluid py-4">
    <h3 class="m-5">Reservations</h3>
    @if ( Model.Any() ) {
        <div class="container text-end">
            <a asp-action="CheckOut" asp-controller="Home" class="btn me-2" style="background-color:#fa8b02; color:#fff" role="button">
                <span class="material-symbols-outlined">Checkout</span>
            </a>
        </div>
    }
    @if ( !Model.Any() ) {
        <h5 class="text-center text-danger">There is no tours booked</h5>
    }

    @foreach ( var item in Model ) {
        var totalTickets = item.AdultTickets + item.ChildTickets + item.InfantTickets;
        var totalPrice = ( item.AdultTickets * item.tour.Price ) + ( item.ChildTickets * item.tour.Price * 0.5 ) + ( item.InfantTickets * item.tour.Price * 0.25 );

        <div class="card mb-3 custom-card">
            <div class="row gap-3 g-0 align-items-center">
                <div class="col-md-4">
                    <img src="@Url.Action("GetImage", "Home", new { id = item.tour.ID })" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-5">
                    <div class="card-body">
                        <h5 class="card-title">@item.tour.Name</h5>
                        <p class="card-text">Total Tickets: @totalTickets</p>
                        <p class="card-text">Total Price: @totalPrice</p>
                        @{
                            DateTime start = DateTime.Parse( item.tour.StartDate.ToString());
                            DateTime today = DateTime.Today;
                        }
                        @if ( start >= today) {
                            <p class="card-text">Status: <span style="color:#fa8b02; font-weight:bolder"> in progress </span> </p>
                        }
                        else {
                            <p class="card-text">Status: <span class="text-danger"> Finished </span> </p>
                        }
                    </div>
                </div>
                <div class="col-md-2 d-flex justify-content-end pe-3">
                    <a asp-action="ViewTourReserved" asp-route-id="@item.ID" asp-controller="Home" class="btn me-2" style="background-color:#fa8b02; color:#fff" role="button">
                        <span class="material-symbols-outlined">View</span>
                    </a>
                    <a asp-action="DeleteReservation" asp-route-id="@item.ID" asp-controller="Home" class="btn btn-danger" role="button">
                        <span class="material-symbols-outlined">Delete</span>
                    </a>
                </div>
            </div>
        </div>
    }

</div>
