@model TourViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="homeContainer">
    <img src="~/images/backGroundImg.png" class="homeBackGround" />

    <div class="container container-searching">
        <div class="text">
            <h1 class="first text-center text-light">Enjoy in the best way</h1>
            <p class="text-center text-light " style="font-size:18px">Enjoy our services for your trip anytime</p>
        </div>
        <div class="container d-grid rounded-3 searching position-relative">
            <div class="innertext text-light text-center pt-3">Filter Trips</div>
            <div class="d-flex flex-column flex-md-row innersearching rounded align-items-md-center p-3 gap-3">
                <form class="d-flex flex-column flex-md-row gap-2 mb-3 mb-md-0 w-100" asp-controller="Tour" asp-action="Filter">
                    <div class="form-group col-md">
                        <label for="destination">Destination</label>
                        <select id="destination" asp-items="@Model.Distinations" asp-for="Distination" class="form-control"></select>
                    </div>
                    <div class="form-group col-md">
                        <label for="startDate">Start Date</label>
                        <input type="date" id="startDate" name="startDate" class="form-control" />
                    </div>
                    <div class="form-group col-md">
                        <label for="endDate">End Date</label>
                        <input type="date" id="endDate" name="endDate" class="form-control" />
                    </div>
                    <div class="form-group col-md">
                        <label for="minPrice">Minimum Price</label>
                        <input type="number" id="minPrice" name="minPrice" class="form-control" />
                    </div>
                    <div class="form-group col-md">
                        <label for="maxPrice">Maximum Price</label>
                        <input type="number" id="maxPrice" name="maxPrice" class="form-control" />
                    </div>
                    <button type="submit" class="search-icon d-flex justify-content-center align-items-center rounded-3 ml-md-3 mt-3 mt-md-0">
                        <i class="fa-solid fa-magnifying-glass" style="font-size: 25px; padding: 0px 15px; color:#fff"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="popularTrips">
    <div class="container header d-flex justify-content-between">
        <h3>Explore Our Popular Trips</h3>
        <div class="arrows d-flex justify-content-end gap-3">
            <div class="left">&lt;</div>
            <div class="right">&gt;</div>
        </div>
    </div>
    <div class="frame" style="height:587px;">
        <div class="content d-flex">
            @foreach ( var tour in Model.tour ) {
                <a href="#">
                    <div class="box d-grid" style="width:250px">
                        <img src="@Url.Action("GetImage", "Home", new { id = tour.ID })" alt="Tour Image" style="max-width: 100%; height: auto;" />
                        <h4 class="text-black text-center mb-3">@tour.Name</h4>
                        <p class="text-black"><i class="fa-solid fa-hand-holding-dollar"></i> <span>$@tour.Price</span></p>
                        <p><i class="fa-solid fa-calendar"></i>Start Date : @tour.StartDate</p>
                        <p><i class="fa-solid fa-calendar"></i>End Date : @tour.EndDate</p>
                        <a asp-controller="Home" asp-action="TourDetails" asp-route-id="@tour.ID">Read More <i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </a>
            }
        </div>
    </div>
</div>

<div class="transportations container">
    <h2 class="m-5">Transportations</h2>
    <div class="container packagesCont transportationsCont justify-content-center">
        <div class="box d-grid shadow p-3 mb-5 bg-white rounded" style="width: 265px">
            <img class="pic" src="~/images/toktok.png" alt="" style="width: 265px" />
            <h5>Tok Tok</h5>
            <h2>$10</h2>
            <div class="details container">
                <div class="row d-flex">
                    <img src="~/images/calender.png" alt="" />
                    <div>Your Tok Tok for a day</div>
                </div>
                <div class="row d-flex">
                    <img src="~/images/map.png" alt="" />
                    <div>Inside City</div>
                </div>
                <div class="row d-flex">
                    <img src="images/ticket.png" alt="" />
                    <div>Discount on group</div>
                </div>
                <div class="row d-flex">
                    <img src="images/support.png" alt="" />
                    <div>Guaranteed Support</div>
                </div>
            </div>
            <button class="bookP">Book Now</button>
        </div>
        <div class="box d-grid shadow p-3 mb-5 bg-white rounded" style="width: 265px">
            <img class="pic" src="images/bikeTour.png" alt="" style="width: 265px" />
            <h5>Bike</h5>
            <h2>$15</h2>
            <div class="details container">
                <div class="row d-flex">
                    <img src="images/calender.png" alt="" />
                    <div>Your bike for a day</div>
                </div>
                <div class="row d-flex">
                    <img src="images/map.png" alt="" />
                    <div>Inside City</div>
                </div>
                <div class="row d-flex">
                    <img src="images/ticket.png" alt="" />
                    <div>Discount on group</div>
                </div>
                <div class="row d-flex">
                    <img src="images/support.png" alt="" />
                    <div>Guaranteed Support</div>
                </div>
            </div>
            <button class="bookP">Book Now</button>
        </div>
        <div class="box d-grid shadow p-3 mb-5 bg-white rounded" style="width: 265px">
            <img class="pic" src="images/bus.png" alt="" style="width: 265px; height: 264px" />
            <h5>Bus</h5>
            <h2>$100</h2>
            <div class="details container">
                <div class="row d-flex">
                    <img src="images/calender.png" alt="" />
                    <div>Your Bus for a day</div>
                </div>
                <div class="row d-flex">
                    <img src="images/map.png" alt="" />
                    <div>Inside and Outside City</div>
                </div>
                <div class="row d-flex">
                    <img src="images/ticket.png" alt="" />
                    <div>Discount on group</div>
                </div>
                <div class="row d-flex">
                    <img src="images/support.png" alt="" />
                    <div>Guaranteed Support</div>
                </div>
            </div>
            <button class="bookP">Book Now</button>
        </div>
        <div class="box d-grid shadow p-3 mb-5 bg-white rounded" style="width: 265px">
            <img class="pic" src="images/transfer.png" alt="" style="width: 265px" />
            <h5>Private Car</h5>
            <h2>$60</h2>
            <div class="details container">
                <div class="row d-flex">
                    <img src="images/calender.png" alt="" />
                    <div>Your Car for a day</div>
                </div>
                <div class="row d-flex">
                    <img src="images/map.png" alt="" />
                    <div>Inside and Outside City</div>
                </div>
                <div class="row d-flex">
                    <img src="images/ticket.png" alt="" />
                    <div>Discount on group</div>
                </div>
                <div class="row d-flex">
                    <img src="images/support.png" alt="" />
                    <div>Guaranteed Support</div>
                </div>
            </div>
            <button class="bookP">Book Now</button>
        </div>
    </div>
</div>

<footer id="footer" class="footerLayout d-grid mt-5 text-light p-5 pb-0">
    <div class="container logo">
        <img src="~/images/logo.png" alt="" srcset="" />
    </div>
    <div class="container footerCont justify-content-between border-bottom border-top pb-5 pt-5 mt-3 mb-3">
        <div class="services">
            <h5>Services</h5>
            <ul class="list-unstyled mt-4">
                <li>Bike and Rickshaw rental</li>
                <li>Guided Tours of Lucca</li>
                <li>Guided Bike Tour of Lucca</li>
                <li>Trip In The Tuscan Hills</li>
                <li>Transportation With Luxury Cars</li>
                <li>Wine Tours By Bus With Guide</li>
            </ul>
        </div>
        <div class="home">
            <h5>Home</h5>
            <ul class="list-unstyled mt-4">
                <li>Home</li>
                <li>About Us</li>
                <li>Tour Packages</li>
            </ul>
        </div>
        <div class="help">
            <h5>Help</h5>
            <ul class="list-unstyled mt-4">
                <li>Terms of use</li>
                <li>Provicy Policy</li>
            </ul>
        </div>
        <div class="contacts">
            <h5>Contacts</h5>
            <ul class="list-unstyled mt-4">
                <li class="d-flex gap-3">
                    <i class="fa-solid fa-location-dot"></i>
                    <p>Maadi, Cairo</p>
                </li>
                <li class="d-flex gap-3">
                    <i class="fa-solid fa-phone"></i>
                    <p>+205828555454</p>
                </li>
                <li class="d-flex gap-3">
                    <i class="fa-solid fa-envelope"></i>
                    <p>example@gmail.com</p>
                </li>
            </ul>
        </div>
        <div class="socialMedia">
            <h5>Social Media</h5>
            <ul class="list-unstyled d-flex mt-4 gap-4 justify-content-center">
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-twitter"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
            </ul>
        </div>
    </div>
    <div class="container m-0">
        <p class="text-center">Copyright © 2022. All rights reserved.</p>
    </div>
</footer>

<script>

    let right = document.getElementsByClassName("right")[0];
    let left = document.getElementsByClassName("left")[0];
    let content = document.getElementsByClassName("content")[0];

    if (window.innerWidth > 780) {
        width = -1 * (content.offsetWidth - 400);
        let leftspace = 0;
        right.addEventListener("click", (e) => {
            if (leftspace >= width) {
                leftspace -= 320;
                console.log(leftspace);
                let variable = `${leftspace}px`;
                content.style.left = variable;
            }
        });

        left.addEventListener("click", (e) => {
            if (leftspace !== 0) {
                leftspace += 320;
                console.log(leftspace);
                let variable = `${leftspace}px`;
                content.style.left = variable;
            }
        });
    } else {
        width = -1 * (content.offsetWidth - 800);
        let leftspace = 0;
        right.addEventListener("click", (e) => {
            if (leftspace >= width) {
                leftspace -= 260;
                console.log(leftspace);
                let variable = `${leftspace}px`;
                content.style.left = variable;
            }
        });

        left.addEventListener("click", (e) => {
            if (leftspace !== 0) {
                leftspace += 260;
                console.log(leftspace);
                let variable = `${leftspace}px`;
                content.style.left = variable;
            }
        });
    }



    function setDefaultValues() {
        const destination = document.getElementById('destination');
        const startDate = document.getElementById('startDate');
        const endDate = document.getElementById('endDate');
        const minPrice = document.getElementById('minPrice');
        const maxPrice = document.getElementById('maxPrice');

        if (!destination.value) {
            destination.value = 'Destination'; // Set a default value for destination
        }
        if (!startDate.value) {
            startDate.value = '2022-01-01'; // Set a default start date
        }
        if (!endDate.value) {
            endDate.value = '2022-12-31'; // Set a default end date
        }
        if (!minPrice.value) {
            minPrice.value = '0'; // Set a default minimum price
        }
        if (!maxPrice.value) {
            maxPrice.value = '99999'; // Set a default maximum price
        }
    }
</script>