@model Payment
@{
    Layout = "_Layout";
}
<a asp-action="UserDetails" class="backBtn w-25 container text-decoration-none">
    <i class="fa-solid fa-arrow-left" style="color: #b0b0b0"></i>
    <span>Back</span>
</a>

<div class="progress w-50 h-auto m-1">
    <div class="progress-bar" role="progressbar" style="width: 100%; background-color: #fa8b02; height: 5px" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="buttons mt-5 mb-5">
    <div class="one">1</div>
    <div class="two">2</div>
    <div class="three">3</div>
</div>

<form asp-action="Payment" method="post">
    <div class="d-flex m-5 justify-content-center gap-5">
        <div class="left_container d-grid w-50 mt-5">
            <h4 class="mb-4" style="max-width: 300px">Select a payment method</h4>
            <div class="method1 p-3 w-auto overflow-hidden">
                <div class="w-auto d-flex gap-4 p-3 mb-3">
                    <input asp-for="PaymentMethod" type="radio" id="payment1" style="width: 17px;height: 38px" value="1" />
                    <label class="d-flex align-items-center w-100" for="payment1">
                        <h5>Pay Cash</h5>
                    </label>
                </div>
                <div class="accountDetails m-4">
                    <p class="m-0">You will be paying Before the tour begins</p>
                </div>
            </div>
            <div class="method2 p-3 w-auto overflow-hidden mt-2">
                <div class="d-flex gap-4">
                    <input asp-for="PaymentMethod" type="radio" id="payment2" style="width: 17px;height: 38px" value="2" />
                    <label class="d-flex flex-wrap align-items-center" for="payment2">
                        <h5 style="min-width: 200px">Pay with Credit Card</h5>
                        <div class="icons d-flex">
                            <img src="../images/Visa.svg" alt="" />
                            <img src="../images/Discover.svg" alt="" />
                            <img src="../images/Maestro.svg" alt="" />
                            <img src="../images/Mastercard.svg" alt="" />
                        </div>
                    </label>
                </div>
                <div class="cardDetails m-4">
                    <p class="w-100">You will be redirected to another website after submitting your order</p>
                </div>
            </div>
        </div>

        <div class="ticketOverview p-4 d-grid">
            <h3>Your Tickets Overview</h3>
            <div class="box d-flex mt-4 gap-4" style="width:90%">
                <img src="@Url.Action("GetImage", "Home", new { id = Model.TourID })" alt="Tour Image" />
                <div class="text">
                    <h5> @Model.Tour.Name </h5>
                    <p><i class="fa-regular fa-calendar-days"></i>@Model.Tour.StartDate</p>
                    <p><i class="fa-regular fa-calendar-days"></i>@Model.Tour.EndDate</p>
                </div>
            </div>
            <div class="details d-grid gap-4 mt-4">
                <div class="one w-100">
                    <div class="circleCounter" id="AdultsCounter">@Model.AdultTickets</div>
                    <span>Adult (18+) (€64.00)</span>
                    <span class="price" id="AdultsPrice" price="64">€0</span>
                </div>

                <div class="two">
                    <div class="circleCounter" id="ChildrenCounter">@Model.ChildTickets</div>
                    <span>Child (6-17) (€32.00)</span>
                    <span class="price" id="ChildrenPrice" price="32">€0</span>
                </div>

                <div class="three">
                    <div class="circleCounter" id="InfantCounter">@Model.InfantTickets</div>
                    <span>Infant (0-5) (€10.00)</span>
                    <span class="price" id="InfantPrice" price="10">€0</span>
                </div>

                <div class="totalPrice">
                    <span>Total Price</span>
                    <span class="price" id="TotalPrice">€0</span>
                </div>
            </div>
            <a class="nextStepBtnLink w-100 text-center"><button class="nextStepBtn mt-4" type="submit">Go to next step</button></a>
        </div>

    </div>
</form>

<footer id="footer" class="footerLayout d-grid mt-5 text-light p-5 pb-0">
    <div class="container logo">
        <img src="~/images/logo.png" alt="" srcset="" />
    </div>
    <div class="container footerCont justify-content-between border-bottom border-top pb-5 pt-5 mt-3 mb-3">
        <div class="services">
            <h5>Services</h5>
            <ul class="list-unstyled mt-4">
                <li>Bike and Rickshaw rental</li>
                <li>Guided Tours of Lucca</li>
                <li>Guided Bike Tour of Lucca</li>
                <li>Trip In The Tuscan Hills</li>
                <li>Transportation With Luxury Cars</li>
                <li>Wine Tours By Bus With Guide</li>
            </ul>
        </div>
        <div class="home">
            <h5>Home</h5>
            <ul class="list-unstyled mt-4">
                <li>Home</li>
                <li>About Us</li>
                <li>Tour Packages</li>
            </ul>
        </div>
        <div class="help">
            <h5>Help</h5>
            <ul class="list-unstyled mt-4">
                <li>Terms of use</li>
                <li>Provicy Policy</li>
            </ul>
        </div>
        <div class="contacts">
            <h5>Contacts</h5>
            <ul class="list-unstyled mt-4">
                <li class="d-flex gap-3">
                    <i class="fa-solid fa-location-dot"></i>
                    <p>Maadi, Cairo</p>
                </li>
                <li class="d-flex gap-3">
                    <i class="fa-solid fa-phone"></i>
                    <p>+205828555454</p>
                </li>
                <li class="d-flex gap-3">
                    <i class="fa-solid fa-envelope"></i>
                    <p>example@gmail.com</p>
                </li>
            </ul>
        </div>
        <div class="socialMedia">
            <h5>Social Media</h5>
            <ul class="list-unstyled d-flex mt-4 gap-4 justify-content-center">
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-twitter"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
            </ul>
        </div>
    </div>
    <div class="container m-0">
        <p class="text-center">Copyright © 2022. All rights reserved.</p>
    </div>
</footer>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let TotalPrice = document.getElementById("TotalPrice");
        let TotalpriceVar = 0;

        let AdultsCounter = document.getElementById("AdultsCounter");
        let AdultsPrice = document.getElementById("AdultsPrice");
        let adultsPriceValue = Number(AdultsCounter.innerText) * Number(AdultsPrice.getAttribute("price"));
        AdultsPrice.innerText = `€${adultsPriceValue}`;

        let ChildrenCounter = document.getElementById("ChildrenCounter");
        let ChildrenPrice = document.getElementById("ChildrenPrice");
        let childrenPriceValue = Number(ChildrenCounter.innerText) * Number(ChildrenPrice.getAttribute("price"));
        ChildrenPrice.innerText = `€${childrenPriceValue}`;

        let InfantCounter = document.getElementById("InfantCounter");
        let InfantPrice = document.getElementById("InfantPrice");
        let infantPriceValue = Number(InfantCounter.innerText) * Number(InfantPrice.getAttribute("price"));
        InfantPrice.innerText = `€${infantPriceValue}`;

        // Update total price
        TotalpriceVar = adultsPriceValue + childrenPriceValue + infantPriceValue;
        TotalPrice.innerText = `€${TotalpriceVar}`;
    });
</script>

<script src="~/js/js/payment.js"></script>