@model Travel_Agency_Project.Models.Tour

@{
    Layout = "_Layout";
}

<div class="container">
    <div class="container Box1 mt-5 d-flex gap-5">
        <div class="pictures">
            <div class="pic">
                <img src="@Url.Action("GetImage", "Home", new { id = Model.ID })" alt="Tour Image" />
            </div>
        </div>
        <div class="details">
            <h1 class="m-2 mb-3">@Model.Name</h1>
            <h5 class="m-2 mb-5">@Model.Description</h5>

            <div class="container" style="min-width:100%">
                <div class="row">
                    <div class="col">
                        <p class="text-black font-weight-bolder"><i class="fa-solid fa-hand-holding-dollar" style="color:#fa8b02; margin:0 15px 0 0"></i> <span>$@Model.Price</span></p>
                        <p><i class="fa-solid fa-calendar" style="color:#fa8b02; margin:0 15px 0 0"></i>Start Date : @Model.StartDate</p>
                        <p><i class="fa-solid fa-calendar" style="color:#fa8b02; margin:0 15px 0 0"></i>End Date : @Model.EndDate</p>
                        <p><i class="fa-solid fa-road" style="color:#fa8b02; margin:0 15px 0 0"></i>Transportation : @Model.TransportationType.Name</p>
                    </div>
                    <div class="col">
                        <p> <i style="color:#fa8b02; margin:0 15px 0 0" class="fa-solid fa-location-dot"></i>Distination : @Model.Distination</p>
                        <p> <i style="color:#fa8b02; margin:0 15px 0 0" class="fa-solid fa-user-tie"></i>Guide Included : @Model.GuideIncluded</p>
                        <p> <i style="color:#fa8b02; margin:0 15px 0 0" class="fa-solid fa-user-tie"></i>Hotel Name : @Model.HotelName</p>
                        <p> <i style="color:#fa8b02; margin:0 15px 0 0" class="fa-solid fa-user-tie"></i>Meals : @Model.Meals</p>
                    </div>
                </div>
            </div>
            <a asp-controller="Home" asp-route-id="@Model.ID" asp-action="BookingDetails" class="text-decoration-none text-light"><button class="shadow mb-2 rounded d-block mt-2">Book Now</button></a>
        </div>
    </div>
   
</div>

<footer id="footer" class="footerLayout d-grid mt-5 text-light p-5 pb-0">
    <div class="container logo">
        <img src="~/images/logo.png" alt="" srcset="" />
    </div>
    <div class="container footerCont justify-content-between border-bottom border-top pb-5 pt-5 mt-3 mb-3">
        <div class="services">
            <h5>Services</h5>
            <ul class="list-unstyled mt-4">
                <li>Bike and Rickshaw rental</li>
                <li>Guided Tours of Lucca</li>
                <li>Guided Bike Tour of Lucca</li>
                <li>Trip In The Tuscan Hills</li>
                <li>Transportation With Luxury Cars</li>
                <li>Wine Tours By Bus With Guide</li>
            </ul>
        </div>
        <div class="home">
            <h5>Home</h5>
            <ul class="list-unstyled mt-4">
                <li>Home</li>
                <li>About Us</li>
                <li>Tour Packages</li>
            </ul>
        </div>
        <div class="help">
            <h5>Help</h5>
            <ul class="list-unstyled mt-4">
                <li>Terms of use</li>
                <li>Provicy Policy</li>
            </ul>
        </div>
        <div class="contacts">
            <h5>Contacts</h5>
            <ul class="list-unstyled mt-4">
                <li class="d-flex gap-3">
                    <i class="fa-solid fa-location-dot"></i>
                    <p>Maadi, Cairo</p>
                </li>
                <li class="d-flex gap-3">
                    <i class="fa-solid fa-phone"></i>
                    <p>+205828555454</p>
                </li>
                <li class="d-flex gap-3">
                    <i class="fa-solid fa-envelope"></i>
                    <p>example@gmail.com</p>
                </li>
            </ul>
        </div>
        <div class="socialMedia">
            <h5>Social Media</h5>
            <ul class="list-unstyled d-flex mt-4 gap-4 justify-content-center">
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-twitter"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
            </ul>
        </div>
    </div>
    <div class="container m-0">
        <p class="text-center">Copyright © 2022. All rights reserved.</p>
    </div>
</footer>
