@model UserDetails
@{
    Layout = "_Layout";
}

<a asp-action="BookingDetails" class="backBtn w-25 container text-decoration-none">
    <i class="fa-solid fa-arrow-left" style="color: #b0b0b0"></i>
    <span>Back</span>
</a>

<div class="progress w-50 h-auto m-1">
    <div class="progress-bar" role="progressbar" style="width: 50%; background-color: #fa8b02; height: 5px" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="buttons mt-5 mb-5">
    <div class="one">1</div>
    <div class="two">2</div>
    <div class="three">3</div>
</div>

<form asp-action="UserDetails" asp-controller="Home" method="post">
    <div class="d-flex mt-5 justify-content-center gap-5">
        <div class="left_container d-grid justify-content-start mt-5">
            <h4 class="mb-5">Who shall we send these tickets to?</h4>
            <div class="container">
                <div class="row gap-lg-5 gap-sm-2">
                    <div class="col">
                        <label for="fname" class="d-block">First Name</label>
                        <input asp-for="FirstName" class="mt-4 mb-4" type="text" id="fname" placeholder="Enter your First Name" />
                    </div>
                    <div class="col">
                        <label for="lname" class="d-block">Last Name</label>
                        <input asp-for="LastName" class="mt-4 mb-4" type="text" id="lname" placeholder="Enter your Last Name" />
                    </div>
                </div>
                <div class="row gap-lg-5 gap-sm-2">
                    <div class="col">
                        <label for="telephone" class="d-block">Telephone Number</label>
                        <input asp-for="PhoneNumber" class="mt-4 mb-4 w-50" type="text" id="telephone" placeholder="Enter your Telephone Number" />
                    </div>
                </div>
                <label asp-for="PickupLocation" class="d-block">Select Pickup Location</label>
                <select asp-for="PickupLocation" id="pickupLocation" width="276" class="rounded">
                    <option value="Maadi">Maadi</option>
                    <option value="6th October">6th October</option>
                    <option value="Nasr City">Nasr City</option>
                    <option value="Madinty">Madinty</option>
                </select>
            </div>
    </div>

        <div class="ticketOverview p-4 d-grid">
            <h3>Your Tickets Overview</h3>
            <div class="box d-flex mt-4 gap-4" style="width:90%">
                <img src="@Url.Action("GetImage", "Home", new { id = Model.TourID })" alt="Tour Image" />
                <div class="text">
                    <h5> @Model.Tour.Name </h5>
                    <p><i class="fa-regular fa-calendar-days"></i>@Model.Tour.StartDate</p>
                    <p><i class="fa-regular fa-calendar-days"></i>@Model.Tour.EndDate</p>
                </div>
            </div>
            <div class="details d-grid gap-4 mt-4">
                <div class="one w-100">
                    <div class="circleCounter" id="AdultsCounter">@Model.AdultTickets</div>
                    <span>Adult (18+) (€@Model.Tour.Price)</span>
                    <span class="price" id="AdultsPrice" price="@Model.Tour.Price">€0</span>
                </div>

                <div class="two">
                    <div class="circleCounter" id="ChildrenCounter">@Model.ChildTickets</div>
                    <span>Child (6-17) (€@(Model.Tour.Price * 0.5))</span>
                    <span class="price" id="ChildrenPrice" price="@(Model.Tour.Price * 0.5)">€0</span>
                </div>

                <div class="three">
                    <div class="circleCounter" id="InfantCounter">@Model.InfantTickets</div>
                    <span>Infant (0-5) (€@(Model.Tour.Price * 0.25))</span>
                    <span class="price" id="InfantPrice" price="@(Model.Tour.Price * 0.25)">€0</span>
                </div>

                <div class="totalPrice">
                    <span>Total Price</span>
                    <span class="price" id="TotalPrice">€0</span>
                </div>
            </div>
            <a class="nextStepBtnLink w-100 text-center"><button class="nextStepBtn mt-4" type="submit">Go to next step</button></a>
        </div>

    </div>
</form>

<footer id="footer" class="footerLayout d-grid mt-5 text-light p-5 pb-0">
    <div class="container logo">
        <img src="~/images/logo.png" alt="" srcset="" />
    </div>
    <div class="container footerCont justify-content-between border-bottom border-top pb-5 pt-5 mt-3 mb-3">
        <div class="services">
            <h5>Services</h5>
            <ul class="list-unstyled mt-4">
                <li>Bike and Rickshaw rental</li>
                <li>Guided Tours of Lucca</li>
                <li>Guided Bike Tour of Lucca</li>
                <li>Trip In The Tuscan Hills</li>
                <li>Transportation With Luxury Cars</li>
                <li>Wine Tours By Bus With Guide</li>
            </ul>
        </div>
        <div class="home">
            <h5>Home</h5>
            <ul class="list-unstyled mt-4">
                <li>Home</li>
                <li>About Us</li>
                <li>Tour Packages</li>
            </ul>
        </div>
        <div class="help">
            <h5>Help</h5>
            <ul class="list-unstyled mt-4">
                <li>Terms of use</li>
                <li>Provicy Policy</li>
            </ul>
        </div>
        <div class="contacts">
            <h5>Contacts</h5>
            <ul class="list-unstyled mt-4">
                <li class="d-flex gap-3">
                    <i class="fa-solid fa-location-dot"></i>
                    <p>Maadi, Cairo</p>
                </li>
                <li class="d-flex gap-3">
                    <i class="fa-solid fa-phone"></i>
                    <p>+205828555454</p>
                </li>
                <li class="d-flex gap-3">
                    <i class="fa-solid fa-envelope"></i>
                    <p>example@gmail.com</p>
                </li>
            </ul>
        </div>
        <div class="socialMedia">
            <h5>Social Media</h5>
            <ul class="list-unstyled d-flex mt-4 gap-4 justify-content-center">
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-twitter"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
            </ul>
        </div>
    </div>
    <div class="container m-0">
        <p class="text-center">Copyright © 2022. All rights reserved.</p>
    </div>
</footer>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        let TotalPrice = document.getElementById("TotalPrice");
        let TotalpriceVar = 0;

        let AdultsCounter = document.getElementById("AdultsCounter");
        let AdultsPrice = document.getElementById("AdultsPrice");
        let adultsPriceValue = Number(AdultsCounter.innerText) * Number(AdultsPrice.getAttribute("price"));
        AdultsPrice.innerText = `€${adultsPriceValue}`;

        let ChildrenCounter = document.getElementById("ChildrenCounter");
        let ChildrenPrice = document.getElementById("ChildrenPrice");
        let childrenPriceValue = Number(ChildrenCounter.innerText) * Number(ChildrenPrice.getAttribute("price"));
        ChildrenPrice.innerText = `€${childrenPriceValue}`;

        let InfantCounter = document.getElementById("InfantCounter");
        let InfantPrice = document.getElementById("InfantPrice");
        let infantPriceValue = Number(InfantCounter.innerText) * Number(InfantPrice.getAttribute("price"));
        InfantPrice.innerText = `€${infantPriceValue}`;

        // Update total price
        TotalpriceVar = adultsPriceValue + childrenPriceValue + infantPriceValue;
        TotalPrice.innerText = `€${TotalpriceVar}`;
    });
</script>